html, body {
  font-family: "Quicksand", sans-serif;
  background: #f5f5f5;  /* Light Gray Background */
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block; /* Remove flex or set it to block */
  justify-content: initial; /* Remove centering */
  align-items: initial; /* Reset alignment */
}
